body{
    background: url("./images/flower2.jpg");
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
}

h1{
    color: antiquewhite;
    text-align: center;
}

.addToList{
   padding: 100px;
}

#taskInput {
    height: 100px;
    width: 500px;
    border-radius: 5px;

}

#startButton, #stopButton {
    width: 200px;
    height: 200px;
    margin: 10px;
    margin-left: 100px;
    font-weight: 100px;
   
}
.btn {
    align-items: center;
    background-color: powderblue
}

table, tr {
    border: 1px solid black;
}

h2 {
    display: flex;
    padding: 100px;
    color: aliceblue;
}

.mainContent {
    display: flex;
}

footer {
    color: aliceblue;
    display: flex;
    justify-content: flex-end;
    padding: 100px;
}

p{
    color: #BEE6C3;
    font-weight: bold;
    font-size: 20px;
}

.description {
   color: rgb(224, 131, 139);
   padding-left: 100px;
   padding-right: 100px;
}

#descriptionContainer {
    background-color: aliceblue;
    opacity: 70%;
}