body{
    background: url("./images/flower2.jpg");
    background-size: cover;
}

h1{
    color: antiquewhite;
    text-align: center;
}

.addToList{
   padding: 100px;
}

#taskInput {
    height: 100px;
    width: 500px;
    border-radius: 5px;
}

#startButton, #stopButton {
    width: 200px;
    height: 200px;
    margin: 10px;
    margin-left: 100px;
   
}
.btn {
    align-items: center;
    background-color: powderblue
}

table, tr {
    border: 1px solid black;
}

h2 {
    display: flex;
    padding: 100px;
    color: aliceblue;
}

.mainContent {
    display: flex;
}

footer {
    color: aliceblue;
    display: flex;
    justify-content: flex-end;
    padding: 100px;
}

p{
    color: aliceblue;
}